<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
</head>
<body class="template-product-detail-default sticky-view-product">
    <div class="page-loading"></div>

    <div class="main-wrapper cart-drawer-push">
        <main class="main-content">
            <div class="breadcrumbs text-center">
                <div class="container">
                    <h1>Detalles del producto</h1>
                    <ul class="breadcrumb bg-transparent m-0 p-0 justify-content-center">
                        <li class="breadcrumb-item"><a [routerLink]="['']" title="Home">Inicio</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/categorias']" title="Home">Categorias</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/categorias']" title="Home">Lista de Producto</a></li>
                        <li class="breadcrumb-item active">Detalles del Producto </li>
                    </ul>
                </div>
            </div>
            <!-- End Breadcrumb -->

            <div class="product-single">
                <div class="container">
                    <div class="row">
                        <div  *ngFor="let producto of productos">
                        <div *ngIf="producto.nombre===prod" class="col-12 col-sm-12 col-md-6 product-info-details">
                            <p style="color:red"><span class="align-middle"><h4>Producto: {{ producto.nombre }}</h4></span></p>
                            <ul style="color:darkgoldenrod">
                                <li><span>Costo por unidad: S/.{{ producto.precio_unidad }}</span></li>
                                <li><span>Costo por paquete: S/.{{ producto.precio_paquete }}</span></li>

                                <li><span>Cantidad de paquetes: {{ producto.cantidad_de_paquete }}</span></li>
                                <li><span>Cantidad por paquete: {{producto.cantidad_por_paquete}}</span></li>
                            </ul>

                            <ul class="d-flex flex-column pro-lists">
                                <li><i class="fa fa-check mr-2" aria-hidden="true"></i>Fecha de carga: {{producto.fecha_carga}} </li>
                                <li><i class="fa fa-check mr-2" aria-hidden="true"></i>Fecha de vencimiento: {{producto.fecha_vencimiento}}</li>
                                <li><i class="fa fa-check mr-2" aria-hidden="true"></i>Proveedor: {{producto.Proveedor}}</li>
                                <li><i class="fa fa-check mr-2" aria-hidden="true"></i>Categoria: {{producto.nombre_categoria}} , num: {{producto.categoria}}</li>
                            </ul>
                            <!-- End Product List Info -->

                            <div class="product-counter-text clearfix">
                                <h4>Total de productos: {{producto.cantidad_total}}</h4>
                            </div>
                            <!-- End Product Time Counter -->

                            <!-- Start Cart Box -->
                            <div style="display:flex">
                                    <p>Cantidad vendida:  </p>
                                    <div style="margin-left:10px">
                                        <div class="qty-box">
                                            <button type="button" class="qtyminus button" value=""><i class="fa fa-minus"></i>-</button>
                                            <input style="width:40px" type="text" name='quantity' value={{producto.cantidad_vendida}} class="qty-input" />
                                            <button type="button" class="qtyplus button" value=""><i class="fa fa-plus"></i>+</button>
                                             <a style="margin-left:20px"class="btn btn-primary btn-block product-btn-cart add-cart">Vender</a>

                                        </div>
                                    </div>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </body>
</html>
